/*---------------------------------------------------General Use CSS */

.uppercase {
  text-transform: uppercase;
}

/*---------------------------------------------------Header */
/*--I used a Bootstrap fixed top navbar */

#light-nav {
  background-color: #e8e8e8;
  border-bottom: 1px solid #3e3b3b;
}

.logo {
  color: #3e3b3b;
}

.logo-text {
  font-family: "Goldman", sans-serif;
  font-weight: 300;
  display: block;
}

.nav-link {
  color: #3e3b3b;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  border-bottom: none;
}

.navbar-brand:hover {
  color: #3e3b3b;
}

.nav-link:hover {
  color: #3e3b3b;
  border-bottom: 5px solid #3e3b3b;
  transition: border-bottom 0.5s ease;
  -moz-transition: border-bottom 0.5s ease;
  -webkit-transition: border-bottom 0.5s ease;
  -o-transition: border-bottom 0.5s ease;
}

/*---------------------------------------------------Section */

/*-----------------------Home */

.business-hours-address {
  background: url(../images/tools.jpg) no-repeat bottom right fixed;
  background-size: cover;
  overflow: hidden;
}

.business-info {
  color: #e8e8e8;
  background-color: black; /* fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  text-align: center;
  padding-top: 30px;
}

.business-info ul {
  list-style-type: none;
  padding: 0;
}

.business-info-head {
  font-weight: 700;
  letter-spacing: 1px;
  border-bottom: 1px solid yellow;
}

.service-callout {
  color: #e8e8e8;
  background-color: #3e3b3b;
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}

.service-section {
  margin: 0 auto;
}

.service-info {
  border: 1px solid #e8e8e8;
  color: #e8e8e8;
  background-color: #3e3b3b;
  padding-top: 30px;
  min-height: 150px;
}

.service-info span {
  display: block;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  padding-top: 10px;
  text-decoration: underline;
}

.service-info p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  padding-top: 10px;
}

.booking-button {
  border-radius: 99rem;
  margin-bottom: 10px;
  background-color: #e8e8e8;
  color: #3e3b3b;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
}

.booking-button:hover {
  opacity: 0.8;
}

.price-section {
  background-color: #e8e8e8;
}

/*-----------------------About */

.bg-container-about {
  background: url(../images/garage.jpg) no-repeat bottom right fixed;
  background-size: cover;
  overflow: hidden;
  padding-left: 0; /*--removed unit after running through CSS lint--*/
  padding-right: 0; /*--removed unit after running through CSS lint--*/
}

.about-top-image {
  width: 100%;
  height: 100%;
}

.media-body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.about-us {
  color: #e8e8e8;
  background-color: black; /* fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}

.media {
  display: block;
}

.mechanic-image {
  width: 200px;
  height: 200px;
}

/*-----------------------Gallery */

.gallery-items {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  color: #3e3b3b;
  background-color: #e8e8e8;
}

/*-----------------------Contact */

.location {
  width: 100%;
  height: 50vh;
  border: 1px solid #3e3b3b;
}

.tel-button {
  color: #3e3b3b;
}

/*---------------------------------------------------Footer */

.site-footer {
  background-color: #3e3b3b;
  color: #e8e8e8;
  padding-top: 10px;
  text-align: center;
  font-size: 25px;
}

.year {
  display: inline;
  padding-left: 5px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}

.social i {
  color: #e8e8e8;
  padding: 15px;
}

.social i:hover {
  -ms-transform: scale(1.5); /* IE 9 */ /* copied directly from w3schools.com */
  -webkit-transform: scale(
    1.5
  ); /* Safari 3-8 */ /* copied directly from w3schools.com */
  -o-transform: scale(1.5);
  -moz-transform: scale(1.5);
  transform: scale(1.5); /* copied directly from w3schools.com */
}

/*---------------------------------------------------Media queries */

@media screen and (max-width: 575px) {
  .media {
    display: flex;
    flex-direction: column;
  }
}
